.passwordForgot{
    min-height: 60vh;
    background-color:#0D1430;
}
.mainPassword{
    padding-top: 8em;
}
.recoverInput input{
    width: 300px;
   height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin: 2em 0;
    background-color: black;
    color: white;
}
span{
    color: #B9244C;
}


@media screen and (max-width: 768){
    h1{
        font-size: 1.5rem;
    }
    h2{
        font-size: 1.2rem;
    }
    h3{
        font-size: 1rem;
    }
  
}