.depositMain{
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 8em 0;
    background-position: 20%;
    background-image: linear-gradient(rgba(2, 2, 16, 0.515), rgba(3, 21, 44, 0.364)),
                  url("../../images/digital-world-map-hologram-blue-background.jpg");
                  min-height: 100vh;
}
.depositInfo__innerbox__1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}