.total_transaction{
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 4em 0;
    background-color: #0D1430;
    margin-top: 3em;
}
.total__transac__box__1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2em;
    margin-right: 20em;
}
.all__date{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1em;
}
.total__box__1 h1{
    padding: 2em 0em;
}
.datePicker__1 input{
    width: 100%;
    height: 8em;
}
.datePicker__1{
    width: 100%;
    height: 5vh;
    margin-top: 2em;
}
.datePicker__2{
    width: 100%;
    height: 5vh;
    margin: 2em 0em;
}
.all_transaction_chat{
    padding: 4em 3em;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1em;
}
.all_transaction_chat h4 {
    padding: 1em 0em ;
    background-color: white;
}
.last__transac{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1em;
    padding: 0em 6em;
}
.transac_left{
    text-align: left;
}
.transac_right{
    text-align: right;
}
@media screen and (max-width: 768px){
    .total_transaction{
        width: 98%;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        padding: 4em 0;
        background-color: #0D1430;
        margin-top: 3em;
    }
    .total__transac__box__1{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 2em;
        margin-right: 0em;
    }
    .last__transac{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1em;
    padding: 0em 2em;
}
.all_transaction_chat{
    padding: 4em 1em;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1em;
}
}